db:  
  image: postgres
  environment: 
    POSTGRES_USER: "postgres"
    POSTGRES_PASSWORD: "postgres"
    POSTGRES_DB: "postgres"
sharedserver:  
  build: .
  links:
    - db
  environment:
    - PGHOST=db
    - PGDATABASE=postgres
    - PGUSER=postgres
  volumes:
    - "./code:/home/src"
  ports:
    - "80:80"
  restart: always